<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/d.css">
</head>
<body>
    
   <div class="container">
        <div class="box">
            <h3>Python Logo</h3>

            <div class="menu">
                <a href="#">Bosh sahifa</a>
                <a href="#">Kurslar</a>
                <a href="#">Mentorlar</a>
                <a href="#">Narxlar</a>
                <a href="#">Aloqa</a>
            </div>

            <button class="btn">Login</button>
        </div>
    </div>

<h1>WELCOME</h1>
     <div class="b">Lorem ipsum dolor sit amet.</div>

</body>
</html>